*{
    margin: 0;
    padding: 0; 
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: #E6EBE0;
}
@font-face {
    font-family:RedHat;
    src: url(RedHatText-Regular.ttf);
}
@font-face {
    font-family:Rights;
    src: url(Righteous-Regular.ttf);
}
/* colors #ED6A5A (red) #F4F1BB (pale yellow) #9BC1BC (grey blue) #5D576B (purple) #E6EBE0 (whhhhhite) */
h1 {
  color:#5D576B;
    font-size: 60px;
    font-family:Rights;
}
h2 {
  color:#5D576B;
    font-size: 45px;
    font-family:Rights;
}
h3 {
  color:#5D576B;
    font-size: 30px;
    font-family:Rights;
}
h4 {
  color:#5D576B;
    font-size: 15px;
    font-family:Rights;
}
p{
    font-family:RedHat;
}
header {
    background-image: linear-gradient(to right, #9BC1BC, #E6EBE0)
}
a:link{
    font-family:RedHat;
    color:#5D576B;
    background-color:transparent;
    text-decoration:underline; 
    text-decoration-color: transparent; 
    transition: .5s ease-in;
}
a:hover{
    text-decoration-color:#5D576B;
}
a h2:hover{
    text-decoration-color: transparent;
}
a:visited{
    color:#5D576B;
}
.spacing
{
    margin-left:50px;
    margin-right:50px;
}
