*{
    margin: 0;
    padding: 0; 
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: #E6EBE0;
}
/* colors #ED6A5A (red) #F4F1BB (pale yellow) #9BC1BC (grey blue) #5D576B (purple) #E6EBE0 (whhhhhite) */
h1 {
  color:#5D576B;
    font-size: 60px;
}
h2 {
  color:#5D576B;
    font-size: 45px;
}
h3 {
  color:#5D576B;
    font-size: 30px;
}
h4 {
  color:#5D576B;
    font-size: 15px;
}
header {
    background-image: linear-gradient(to right, #9BC1BC, #E6EBE0)
}
a:link{
    color:#5D576B;
    text-decoration:underline; 
    text-decoration-color: transparent; 
    transition: .5s ease-in;
}
a:hover{
    text-decoration-color:#ED6A5A;
}
a:visited{
    color:#E3170A;
}
