*{
    margin: 0;
    padding: 0; 
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: #A9E5BB;
}
/* colors #E3170A (red) #A9E5BB (light bluegreen) #FCF6B1 (whhhhite) #F7B32B (ormgnge) #2D1E2F (dark purple/black) */
h1 {
  color:2D1E2F;
    font-size: 60px;
}
h2 {
  color:2D1E2F;
    font-size: 45px;
}
h3 {
  color:2D1E2F;
    font-size: 30px;
}
h4 {
  color:2D1E2F;
    font-size: 15px;
}
header {
    background-image: linear-gradient(to right, #A9E5BB, #FCF6B1)
}
header:a {
    align:right; 
}
